
.country-chart-item {
  display: contents;
}
.boom-black-wrapper {
  background: #171613;
  border-bottom-left-radius: 264px;
  border-bottom-right-radius: 264px;
}
.scroll-wrapper {
  overflow-x: scroll;
}
.outline-heading {
  color: transparent;
  -webkit-text-stroke: 0.75px #d0d0d0;
}